<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="com.fh.mapper.zree.IZreeMapper">
    <!--映射-->
    <resultMap id="zreerMap" type="sectionInfo">
        <id property="id" column="id"></id>
        <result property="pId" column="pId"></result>
        <result property="name" column="zreeName"></result>

    </resultMap>

   <!--查询部门全部数据-->
    <select id="findQueryZreeList" resultMap="zreerMap">
        select id,pId,zreeName from e_zree
    </select>

    <!--查询部门名称-->
    <select id="queryByIdList" parameterType="java.lang.String" resultMap="zreerMap">
        select id,pId,zreeName from e_zree where id=#{value}
    </select>
</mapper>